<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="chevron-back-outline" id="startIcon" [routerLink]="['/patient-record']"
      style="color: black; height: 25px; width: 25px; margin-left: 2%;"></ion-icon>
    <ion-title>Add Patient Record</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form id="form">
    <ion-item>
      <ion-input placeholder="Blood Pressure (X/Y mmHg)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="Number" placeholder="Respiratory Rate (X/min)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="Number" placeholder="Blood Oxygen Level (X%)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="Number" placeholder="Heartbeat Rate (X/min)"></ion-input>
    </ion-item>
    <ion-button expand="block" [routerLink]="['/patient-record']">Add Patient Record</ion-button>
  </form>
</ion-content>