<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="chevron-back-outline" id="startIcon" (click)="onBackButtonClick()"
      style="color: black; height: 25px; width: 25px; margin-left: 2%;"></ion-icon>
    <ion-title>Add Patient Record</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form id="form">
    <ion-item>
      <ion-input type="Number" [(ngModel)]="record.bloodPressure" [ngModelOptions]="{standalone: true}" placeholder="Blood Pressure (X/Y mmHg)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="Number" [(ngModel)]="record.respiratoryRate" [ngModelOptions]="{standalone: true}" placeholder="Respiratory Rate (X/min)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="Number" [(ngModel)]="record.oxygenLevel" [ngModelOptions]="{standalone: true}" placeholder="Blood Oxygen Level (X%)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="Number" [(ngModel)]="record.heartbeatRate" [ngModelOptions]="{standalone: true}" placeholder="Heartbeat Rate (X/min)"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="onAddPatientRecordClick()" >Add Patient Record</ion-button>
  </form>
</ion-content>