<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="chevron-back-outline" id="startIcon" [routerLink]="['/home']"
      style="color: black; height: 25px; width: 25px; margin-left: 2%;"></ion-icon>
    <ion-title>Patient Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="patientIcon">
    <img src="assets/ic_avatar_male.png" alt="patientIcon">
    <ion-item class="pName" lines="none">John Wick</ion-item>
  </div>
  <ion-item class="pNameLine" lines="none"></ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="headings">Email Id:</div>
      </ion-col>
      <ion-col>
        <div class="infos">johnwick@gmail.com</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="headings">Mobile:</div>
      </ion-col>
      <ion-col>
        <div class="infos">+1 678 123 5566</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="headings">Age:</div>
      </ion-col>
      <ion-col>
        <div class="infos">32</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="headings">Blood Group:</div>
      </ion-col>
      <ion-col>
        <div class="infos">A+</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="headings">Address:</div>
      </ion-col>
      <ion-col>
        <div class="infos">12 Crescent Park Drive, ON M5V4T7</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="block" [routerLink]="['/home']">View Records</ion-button>
</ion-content>